.warpper{
	width: 100%;
	font-family: 微軟正黑體,Helvetica,Arial,Verdana;
	margin: 0 auto;
	padding: 8% 0 15% 0;
	background-color: #cccc;
	position: relative;
}

.menu{
	width: 100%;
	z-index: 40;
	position: fixed;
	top: 0;
	margin: 0 0 0 0;
	height: 60px;
	background-color: black;

}


.inforcard{
	padding: 2%;
	border-radius: 20px;
	box-shadow: 0px 10px 18px 2px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	max-width: 50%;
	background-color: white;


}

.clean{
	clear: both;
}

.photo{
	float: left;

}

.photo img{
	width: 180px;
	height: 180px;
	border-radius: 50%;

}




.information{
	float: left;
	padding: 2% 0 0 4%;
	line-height: 1.6em;

}

.information_text{
}


.information_btn{
}


h1{
	font-size: 34px;
	font-weight: bolder;
}



h2{
	font-size:32px;
	margin: 0 0 16px 0;
	font-weight: bolder;
	display: inline-block;
}


h3{
	margin: 3% 0 0 0;
	padding: 2% 0 2% 2%;
	background-color: #A85E5E;
	border-radius: 10px 10px 0 0;
	color: white;
	font-size: 24px;
}



h4{	margin: 1% 0 0 0;
	font-size: 22px;
	line-height: 1.6em;
	font-weight: bolder;
	display: inline-block;
}



span{
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1px;
}



.target{
	margin: 0 0 0 1%;
	border-radius: 4px;
	white-space:nowrap;
	text-align: center;
	width: 100px;
	color: white;
	background-color: black;
	padding: 0.5% 1.5% 0.5% 1.5%;
}


.years{
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 20px;
	margin: 2% 0 1% 2px;
}

p{
	font-size: 20px;
	line-height: 1.6em;
	display: inline-block;
}


.work_title{
	margin: 0 0 2% 0;
}


.top_btn{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: black;
	position: fixed;
	right: 60px;
	bottom: 60px;
	z-index: 99;
	box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);

}

.top_btn img{
	margin: 13px 0 0 0;
	width: 24px;
}

.top_btn a{
	font-weight: bolder;
	border-radius: 50%;
	display: block;
	width: 60px;
	height: 60px;
	text-align: center;


}


.top_btn a:hover{
	background-color: #333333;
}





.work_web_btn{
	margin: 20px 16px 0 0;
	float: left;
	border-radius: 40px;
	background-color: black;
	width: 200px;
	height: 52px;

}

.remandow_btn{
	margin: 20px 0 0 0;
	float: left;
	border-radius: 40px;
	background-color: #8D4E4E;
	width: 200px;
	height: 52px;

}


.work_web_btn a{
	letter-spacing: 1px;
	display: block;
	text-align: center;
	font-size: 24px;
	color: white;
	line-height: 52px;
	text-decoration: none;
}


.work_web_btn a:hover{
	border-radius: 40px;
	background-color: #333333;

}


.remandow_btn a{
	letter-spacing: 1px;
	display: block;
	text-align: center;
	font-size: 24px;
	color: white;
	line-height: 52px;
	text-decoration: none;
}

.remandow_btn a:hover{
	border-radius: 40px;
	background-color: #A85E5E;

}


.skill_card{
	max-width: 50%;
	height: auto;
	padding: 2%;
	border-radius: 20px;
	box-shadow: 0px 10px 18px 2px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	background-color: white;
	position: relative;
	top: 40px;
	clear:both;
}


.ai,.ps,.id,.xd{
	max-width: 50%;
	height: auto;
	padding: 2%;
	border-radius: 20px;
	box-shadow: 0px 10px 18px 2px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	background-color: white;
	position: relative;
	top: 40px;
	clear:both;
}



.ai p,.ps p,.id p,.xd p{
	line-height: 1.6em;
	margin: 3% 0 0 0 ;
}



.back_to_skill img{
	width: 70%;
	margin: 7px 0 0 7px;
}


.back_to_skill{
	position: relative;
	width: 42px;
	height: 42px;
	background-color: #8B8B8B;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	margin: 0 2% 2% 0;
}



.title_fix{
	position: absolute;
	top: 20%;
}




li{
	margin: 20px 1% 0 0;
	display: inline-block;
	letter-spacing: 1px;
	width: 30.9%;
	border-radius: 40px;
	background-color: #8B8B8B;
	text-align: center;
	font-size: 18px;
	color: white;
	line-height: 44px;
}


li a{
	display: block;
	color: white;
	text-decoration: none;

}


li a:hover{
	background-color: #AFAFAF;
	border-radius: 40px;
}

.line{
	height: 1px;
	background-color: black;
}



.readme_card{
	max-width: 50%;
	height: auto;
	padding: 2%;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	background-color: white;
	position: relative;
	top: 80px;
}


.text{
	letter-spacing: 1px;
	padding: 16px 0 0 0;
	line-height: 1.6em;
}



.text_btn{
	margin: 20px 0 0 0;
	text-align: center;
	font-weight: bolder;
	color: #8D4E4E;
	font-size: 24px;
	border:0;
	cursor: pointer;
}




.text_btn2{
	margin: 20px 0 0 0;
	text-align: center;
	font-weight: bolder;
	color: #8D4E4E;
	font-size: 24px;
	border:0;
	cursor: pointer;
}


.exe_card{
	padding: 2% 2% 3% 2%;
	border: 1px solid #8D4E4E;
	border-radius: 0 0  10px 10px;
}

.information_btn{
}




@media (max-width: 375px){
	
	.warpper{
		padding: 22% 0 60% 0;
	}

	.inforcard,.skill_card,.readme_card{
		padding: 6%;
		max-width: 82%;
	}

	.skill_card{
		top: 20px;
	}

	.readme_card{
		top: 40px;
	}


	.ai,.ps,.id,.xd{
		top: 20px;
		max-width: 82%;
		padding: 6%;
	}



h1{
	font-size: 24px;
}


.skill_card,.readme_card>h2{
	display: block;
	text-align: center;
}

h2{	
	font-size:24px;
	margin: 0 0 16px 0;
}



h3{
	text-align: center;
	margin: 6% 0 0 0;
	padding: 2% 0 2% 2%;
	background-color: #A85E5E;
	border-radius: 10px 10px 0 0;
	color: white;
	font-size: 20px;
}



h4{	font-size: 20px;
	margin: 0 0 0 0;
	display: inline-block;

}


.title_fix{
	margin: 0 0 0 2%;
	position: absolute;
	top: 18%;
}

.id>.title_fix{
	margin: 0 0 0 2%;
	position: absolute;
	top: 22%;
}


.photo{
	text-align: center;
	float: none;

}

.top_btn{
	right: 16px;
	bottom: 20px;

}


.information{
	text-align: center;
	float: none;
	padding: 6% 0 0 0;
	line-height: 1.6em;

}



.work_web_btn{
	margin: 20px 16px 0 0;
	float: none;
	border-radius: 40px;
	background-color: black;
	width: 100%;
	height: 52px;

}

.remandow_btn{
	margin: 12px 0 10px 0;
	float: none;
	border-radius: 40px;
	background-color: #8D4E4E;
	width: 100%;
	height: 52px;

}


.work_web_btn a{
	letter-spacing: 1px;
	display: block;
	text-align: center;
	font-size: 22px;
	color: white;
	line-height: 52px;
	text-decoration: none;
}


.work_web_btn a:hover{
	border-radius: 40px;
	background-color: #333333;

}


.remandow_btn a{
	letter-spacing: 1px;
	display: block;
	text-align: center;
	font-size: 22px;
	color: white;
	line-height: 52px;
	text-decoration: none;
}

.remandow_btn a:hover{
	border-radius: 40px;
	background-color: #A85E5E;

}

li{
	margin: 22px 0 0 0;
	display: inline-block;
	letter-spacing: 1px;
	width: 100%;
	border-radius: 40px;
	background-color: #8B8B8B;
	text-align: center;
	font-size: 20px;
	color: white;
	line-height: 44px;
}




li a:hover{
	border-radius: 40px;
}


.exe_card{
	padding: 2% 4% 3% 4%;
	border: 1px solid #8D4E4E;
	border-radius: 0 0  10px 10px;
}

p{
	font-size: 18px;
}

.target{
	margin: 0 0 0 2%;
	border-radius: 4px;
	white-space:nowrap;
	text-align: center;
	color: white;
	background-color: black;
	padding: 0.5% 2% 0.5% 2%;
}





}


@media (min-width: 480px) and (max-width: 768px){


.warpper{
		padding: 14% 0 40% 0;
	}


h1{
	font-size: 30px;
}

h2{
	font-size: 26px;

}

h4{	font-size: 20px;
	margin: 0 0 0 0;
	display: inline-block;

}

.photo{
	text-align: center;
	float: none;

}


	

.inforcard,.skill_card,.readme_card{
		padding: 4%;
		max-width: 70%;
	}



.ai,.ps,.id,.xd{
		top: 34px;
		max-width: 70%;
		padding: 4%;
	}



.information{
	text-align: center;
	float: none;
	padding: 4% 0 0 0;
	line-height: 1.6em;

}



.work_web_btn{
	float: none;
	margin: 3% auto 2% auto;
	border-radius: 40px;
	background-color: black;
	width: 60%;
	height: 52px;

}

.remandow_btn{
	margin: 0 auto 2% auto;
	float: none;
	border-radius: 40px;
	background-color: #8D4E4E;
	width: 60%;
	height: 52px;

}


.work_web_btn a{
	letter-spacing: 1px;
	display: block;
	text-align: center;
	font-size: 22px;
	color: white;
	line-height: 52px;
	text-decoration: none;
}


.work_web_btn a:hover{
	border-radius: 40px;
	background-color: #333333;

}


.remandow_btn a{
	letter-spacing: 1px;
	display: block;
	text-align: center;
	font-size: 22px;
	color: white;
	line-height: 52px;
	text-decoration: none;
}

.remandow_btn a:hover{
	border-radius: 40px;
	background-color: #A85E5E;

}


li{	margin: 20px 1% 0 0;
	display: inline-block;
	letter-spacing: 1px;
	width: 48%;
	border-radius: 40px;
	background-color: #8B8B8B;
	text-align: center;
	font-size: 18px;
	color: white;
	line-height: 44px;
}


li a{
	display: block;
	color: white;
	text-decoration: none;

}


li a:hover{
	background-color: #AFAFAF;
	border-radius: 40px;
}

.title_fix{
	margin: 0 0 0 2%;
	position: absolute;
	top: 19%;
}

.id>.title_fix{
	margin: 0 0 0 2%;
	position: absolute;
	top: 23%;
}


.xd>.title_fix{
	margin: 0 0 0 2%;
	top: 23%;
}


.ps>.title_fix{
	margin: 0 0 0 2%;
	top: 23%;
}


	.skill_card{
		top: 34px;
	}

	.readme_card{
		top: 68px;
	}


}













